body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
    background-color: rgb(19, 16, 16);
    padding: 1rem;
}

header a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px 13px;
}

.ftitle {
    text-align: center;
    color: purple;
    margin-bottom: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid purple;
    margin: 1rem;
}

.product img {
    width: 300px;
    height: 300px;
}

.product-info {
    padding: 1rem;
}